jax==0.4.31
lightning==2.2.5
matplotlib==3.9.1
MDAnalysis==2.7.0
mdtraj==1.9.7
numpy==1.24.3
OpenMM==8.1.1
pytorch-lightning==2.2.5
torch==2.3.0
torchcfm==1.0.5
tqdm==4.66.4
wandb==0.17.1
